In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('SongCSV_filtered.csv')

In [3]:
#Number of words...
train['wordCount'] = train['Lyrics'].apply(lambda x: len(str(x).split(" ")))
train[['Lyrics','wordCount']].head()

                                              Lyrics  wordCount
0                                       INSTRUMENTAL          1
1  It's time that I rain on your parade Watch as ...        108
2  You who's coming up the stairs, Shouting- I’m ...         69
3  Life is like A merry go round Painted horses R...         58
4                                       INSTRUMENTAL          1

In [4]:
#Number of characters includding spaces
train['charCount'] = train['Lyrics'].str.len()
train[['Lyrics','charCount']].head()

                                              Lyrics  charCount
0                                       INSTRUMENTAL       12.0
1  It's time that I rain on your parade Watch as ...      547.0
2  You who's coming up the stairs, Shouting- I’m ...      378.0
3  Life is like A merry go round Painted horses R...      277.0
4                                       INSTRUMENTAL       12.0

In [5]:
#Average length of words.
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

train['avgWordSize'] = train['Lyrics'].apply(lambda x: avg_word(str(x)))
train[['Lyrics','avgWordSize']].head()

                                              Lyrics  avgWordSize
0                                       INSTRUMENTAL    12.000000
1  It's time that I rain on your parade Watch as ...     4.190476
2  You who's coming up the stairs, Shouting- I’m ...     4.626866
3  Life is like A merry go round Painted horses R...     4.000000
4                                       INSTRUMENTAL    12.000000

In [6]:
#Number of stop words
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['Lyrics'].apply(lambda x: len([x for x in str(x).split() if x in stop]))
train[['Lyrics','stopwords']].head()

                                              Lyrics  stopwords
0                                       INSTRUMENTAL          0
1  It's time that I rain on your parade Watch as ...         41
2  You who's coming up the stairs, Shouting- I’m ...         15
3  Life is like A merry go round Painted horses R...         14
4                                       INSTRUMENTAL          0

In [7]:
#Number of Numerics
train['numerics'] = train['Lyrics'].apply(lambda x: len([x for x in str(x).split() if x.isdigit()]))
train[['Lyrics','numerics']].head()

                                              Lyrics  numerics
0                                       INSTRUMENTAL         0
1  It's time that I rain on your parade Watch as ...         0
2  You who's coming up the stairs, Shouting- I’m ...         0
3  Life is like A merry go round Painted horses R...         0
4                                       INSTRUMENTAL         0

In [8]:
#Number of upper case words
train['upperCase'] = train['Lyrics'].apply(lambda x: len([x for x in str(x).split() if x.isupper()]))
train[['Lyrics','upperCase']].head()

                                              Lyrics  upperCase
0                                       INSTRUMENTAL          1
1  It's time that I rain on your parade Watch as ...          1
2  You who's coming up the stairs, Shouting- I’m ...          1
3  Life is like A merry go round Painted horses R...          3
4                                       INSTRUMENTAL          1

In [9]:
#Number of Lower Case words.
train['lowerCase'] = train['Lyrics'].apply(lambda x: len([x for x in str(x).split() if x.islower()]))
train[['Lyrics','lowerCase']].head()

                                              Lyrics  lowerCase
0                                       INSTRUMENTAL          0
1  It's time that I rain on your parade Watch as ...         89
2  You who's coming up the stairs, Shouting- I’m ...         52
3  Life is like A merry go round Painted horses R...         40
4                                       INSTRUMENTAL          0

In [11]:
df = pd.DataFrame(train[['Lyrics', 'wordCount', 'charCount', 'avgWordSize', 'stopwords', 'numerics', 'upperCase', 'lowerCase']])

In [13]:
df.to_csv('basic_features_csv.csv', index= False)