In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('pre_processed_lyrics.csv')

In [9]:
#Bag of words.
from sklearn.feature_extraction.text import CountVectorizer

In [10]:
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")

In [12]:
train_bow = bow.fit_transform(train['Lyrics'].values.astype(str))

In [13]:
df = pd.DataFrame(train['Lyrics'])

In [14]:
df.head()

                                              Lyrics
0                                         instrument
1  time rain parad watch hope explod landmin ask ...
2  who come stair shout come die sick disgust wis...
3  life merri go round paint hor ride music take ...
4                                         instrument

In [15]:
df.to_csv('lyrics_bag_of_words.csv', index = False)

In [6]:
#Sentiment Analysis??
from textblob import TextBlob
train['sentiment'] = train['Lyrics'].apply(lambda x: TextBlob(str(x)).sentiment[0] )
train[['Lyrics','sentiment']].head()

                                              Lyrics  sentiment
0                                         instrument   0.000000
1  time rain parad watch hope explod landmin ask ...   0.020455
2  who come stair shout come die sick disgust wis...  -0.088095
3  life merri go round paint hor ride music take ...  -0.105000
4                                         instrument   0.000000

In [8]:
df = pd.DataFrame(train[['Lyrics', 'sentiment']])
df.head()

                                              Lyrics  sentiment
0                                         instrument   0.000000
1  time rain parad watch hope explod landmin ask ...   0.020455
2  who come stair shout come die sick disgust wis...  -0.088095
3  life merri go round paint hor ride music take ...  -0.105000
4                                         instrument   0.000000

In [10]:
df.to_csv('lyrics_sentiment_analysis.csv', index=False)